In [4]:
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
import numpy as np

In [5]:
from code.preprocessing import *

In [8]:
prep1.prep_test()

hello world na ja ya hoo

In [5]:
pd.DataFrame({
    "a":[1,2,3],
    "b":[4,5,6]
})

   a  b
0  1  4
1  2  5
2  3  6